<div>
    <app-person-files></app-person-files>

    <mat-action-row>
        <div class="flex-container">
            <div>
                <button routerLink="/member/address"
                        mat-raised-button
                        color="primary"
                >
                    <mat-icon>navigate_before</mat-icon>
                </button>
            </div>
            <div>

            </div>
            <button routerLink="/member/squadron"
                    mat-raised-button [disabled]="!(isValid$ | async)"
                    color="primary"
            >
                <mat-icon>navigate_next</mat-icon>
            </button>
        </div>
    </mat-action-row>

</div>
