<div>

     <!--   <mat-form-field>
            <input matInput formControlName="email" placeholder="email"/>
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="firstName" placeholder="First Name"/>
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="lastName" placeholder="Last Name"/>
        </mat-form-field>

        <mat-radio-group formControlName="language">
            <mat-radio-button value="en">en</mat-radio-button>
            <mat-radio-button value="fr">fr</mat-radio-button>
        </mat-radio-group>

        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Birth Date" formControlName="birthday">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker ></mat-datepicker>
        </mat-form-field>

        <mat-form-field *ngIf="familyRoles">
            <mat-select formControlName="familyRole">
                <mat-option *ngFor="let fam of familyRoles" [value]="fam">{{fam}} </mat-option>
            </mat-select>
        </mat-form-field>


    <mat-form-field *ngIf="membershipTypes">
        <mat-select formControlName="familyRole">
            <mat-option *ngFor="let mtype of membershipTypes" [value]="mtype">{{mtype}} </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-action-row>
        <button *ngIf="index !==-1" mat-raised-button (click)="onRemoveClick()">Remove</button>
    </mat-action-row>


    <p>
        Form Value: {{ profileForm.value | json}}
    </p>

    <p>
        Form Status: {{ profileForm.status }}
    </p>-->
</div>

